# string is a sequence of character>>>> represent and manipluate textual data
# characters are  represented using numerical value>>> each character are assigned a unique no
# ASCII(7 bits)  and  UNICODE(16 bits) >>>>>..>>>>>>>>>>>>
# ASCII>>2 to the power 7 >>128 character has been encoded where as UTF is 2 to the power 16 almost cover every character of every language
# UTF-8 , UTF-16 >>>> popular encoding schemes for UNICODE>>>>> widely accepted in industry
# ASCII:(AMERICAN STANDARD CODE FOR INFORMATION INTERCHANGE)
# UTF:(UNICODE TRANSFORMATION FORMATE)
# UTF COVER ALLMOST ALL THE CHARACTER
# ASCII REPRESENT 128 CHARACTER INTO NUMERICAL VALUE

In [1]:
#ASCII REPRESENTATION
char='A'
ord('A') # ordinal means , what is numerical order of character

65

In [2]:
chr(65) # character  means>> give the character corresponding to that no

'A'

In [3]:
char="B"
ord("B")

66

In [4]:
chr(66)

'B'

In [6]:
# UNICODE representation
'\u03A9'

'Ω'

In [7]:
'\u03A3'

'Σ'

In [8]:
'\u0973'

'ॳ'

In [10]:
'\u03A1'

'Ρ'

In [11]:
'\u0974'

'ॴ'

In [12]:
'\u0975'

'ॵ'

In [13]:
'\u0972'

'ॲ'

In [14]:
'\u03A4'

'Τ'

In [16]:
#strings
string1="pwskills"
string1

'pwskills'

In [19]:
"I 'm student"

"I 'm student"

In [20]:
'I "m student'

'I "m student'

In [21]:
"""I "m student"""

'I "m student'

In [22]:
# concatenation of string>>>> combination of two string
"hello"+ "world"

'helloworld'

In [23]:
"hello" - "world" # it will give you an error

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [24]:
#if you want - than you can do this
"hello" + " - world"

'hello - world'

In [26]:
string1="hello"
string2="world!"
string1+ " , "+string2

'hello , world!'

In [27]:
string1="hello"
string2="world!"
string1+ " >>"+string2

'hello >>world!'

In [29]:
string1="hello"
string2="world!"
string1+ " < "+string2

'hello < world!'

In [30]:
#extract/slicing of string
a="nidhi"
a[1]

'i'

In [31]:
a[5]

IndexError: string index out of range

In [32]:
a[4]

'i'

In [33]:
a= "i am a good student"
a[0:11]

'i am a good'

In [35]:
a[5:13]

'a good s'

In [36]:
a[0:]

'i am a good student'

In [37]:
a[3:]

'm a good student'

In [38]:
a[3:0] # if you give zero it will return blank("") >>like that

''

In [39]:
a[8:0]

''

In [40]:
# if you want except last three character only 
a= "pwskills"
a[:5]

'pwski'

In [41]:
# or you can do this
a[0:-3]

'pwski'

In [44]:
# if you want last three character only 
a[-3:]

'lls'

In [45]:
string="hello world"
string[0:7:1] # by default  step is 1

'hello w'

In [49]:
string[0:7:2] # [start:end: step]

'hlow'

In [47]:
string[::1]

'hello world'

In [48]:
string[::2]

'hlowrd'

In [50]:
#iterate over the sequence in reverse order
# it means start from the end and move to the beginning and step backword by one character
string[::-1]

'dlrow olleh'

In [4]:
# string are immutable
s="pwskills"
s[0]

'p'

In [5]:
s[5]

'l'

In [6]:
s[5]="ram"

TypeError: 'str' object does not support item assignment

In [7]:
# no of character in string
len(s)

8

In [8]:
string="hello world"
len(s)

8

In [9]:
# modification of string>>> you can modifie using replace function
string="hello world"
string.replace("ello","hllo")

'hhllo world'

In [11]:
string.replace("hello"," welcome")

' welcome world'

In [3]:
#use case:
adresss="123 qwefb apt, ghjk, banglore"
adresss

'123 qwefb apt, ghjk, banglore'

In [4]:
adresss.text="BRB, TATA, BMI" replace("apt", "appartmant")

'123 qwefb appartmant, ghjk, banglore'

In [3]:
text="BRB, TATA, BMI"
text.replace("BRB", "RBB").replace("TATA", "ATTA").replace("BMI", "IBM")

'RBB, ATTA, IBM'

In [2]:
type(text)

str

In [4]:
text="BRB, TATA, BMI"
text.lower()

'brb, tata, bmi'

In [12]:
string="helLo woRld"
string.upper()

'HELLO WORLD'

In [13]:
string.title()# title ko use krk 1 st letter capital krte h

'Hello World'

In [14]:
string.swapcase()#Convert uppercase characters to lowercase and lowercase characters to uppercase.

'HELlO WOrLD'

In [15]:
string.capitalize()# it converts  only 1st word of element in uppercase

'Hello world'

In [16]:
#string searching>>>>>>>>>>>>>> it will return trur and false
string="i am astudent"
"am" in string

True

In [18]:
sentence="i am astudent"
search_word="am"
if search_word in sentence:
    print("search word is present")
else:
     print("search word is  not present")

search word is present

In [21]:
email="dcvtdfg45678"
if "@" in email:
    print("valid email")
else:
    print("invalid email")

invalid email

In [22]:
document="some_file.pdf"
if ".pdf" in document:
    print("it's a pdf file")
else:
     print("it's  not a pdf file")

it's a pdf file

In [23]:
#string comparison>>> return true and false
str1="hello"
str2="hello"
str1== str2

True

In [24]:
str1="Hello"
str2="hello"
str1== str2

False

In [25]:
str1="HEllo"
str2="hello"
str1.lower()== str2.lower()

True

In [30]:
str1="HELLO"
str2="hello"
str1== str2.upper()

True

In [31]:
reg_username=["pw","pw","pw"]
new_user="pw1"
if new_user in reg_username:
    print("allready in use")
else:
    print("username is avalible")

username is avalible

In [35]:
product_code="p123"
scanned_code=input("scan the code")
if product_code == scanned_code:
    print("the price is 100")
else:
    print("talk to receptionist")

scan the code 3423q

talk to receptionist

In [36]:
#String ordering
name=["ajay","vijay","ram","shyam"]
sorted(name) # it sort in alphabatical order

['ajay', 'ram', 'shyam', 'vijay']

In [37]:
playlist=["rew","rty","ytre","asd"]
sorted(playlist)

['asd', 'rew', 'rty', 'ytre']

In [38]:
#commman string operation
input_str= "          pwskills          "
input_str

'          pwskills          '

In [40]:
input_str.strip() # Return a copy of the string with leading and trailing whitespace removed.

'pwskills'

In [42]:
fruits="apple   ,     mango      " # it removes only last elments whitespace
fruits.strip()

'apple   ,     mango'

In [48]:
#string splitting
data="ajay, data science , teacher"
data

'ajay, data science , teacher'

In [49]:
teacher_info=data.split(",") #Return a list of the substrings in the string, using sep as the separator string.

In [50]:
teacher_info

['ajay', ' data science ', ' teacher']

In [51]:
name=teacher_info[0]
sub=teacher_info[1]
des=teacher_info[2]

In [52]:
name

'ajay'

In [53]:
sub

' data science '

In [54]:
des # when ouput is giving here is whitespcae so to resolve it using(strip)

' teacher'

In [55]:
des.strip()

'teacher'

In [2]:
#Escape sequence>> special combination of characters used with in a string
address="""123 khutti,
kewal khurd,
hunterganj"""
address

'123 khutti,\nkewal khurd,\nhunterganj'

In [3]:
print(address) # here if you print it will not show (\n) as a output

123 khutti,
kewal khurd,
hunterganj

In [12]:
address1= """123 khutti,\nkewal khurd,\nhunterganj"""

In [13]:
address1 # here it will show \ but............in

'123 khutti,\nkewal khurd,\nhunterganj'

In [14]:
print(address1)# print statement it does not show "\" here you can see as output
###########    (\n)>>> to insert a new line character

123 khutti,
kewal khurd,
hunterganj

In [16]:
# \t>>> escape character>>>> called as tab
table="Name\tage\tgrade\najay\t21\tA\nbijay\t22\t22"
table # it will not understand when uuu use print statement then it will understand

'Name\tage\tgrade\najay\t21\tA\nbijay\t22\t22'

In [17]:
print(table)

Name	age	grade
ajay	21	A
bijay	22	22

In [1]:
file_path="c:\\USERS\\DOWNLOAD\\FILES.txt"
file_path

'c:\\USERS\\DOWNLOAD\\FILES.txt'

In [2]:
print(file_path)# now print will understand

c:\USERS\DOWNLOAD\FILES.txt

In [3]:
# \' single codw escape
str1= "i cant \'t belive its friaday" 
str1

"i cant 't belive its friaday"

In [5]:
str1= "i cant belive it\'s friaday" 
str1

"i cant belive it's friaday"

In [6]:
# carriage return \r>>>> moves the curser tro the beginning of the line
print('hello, i am nidhi agrawal, i am going to delhi')

hello, i am nidhi agrawal, i am going to delhi

In [9]:
print('hello,\ri am nidhi agrawal, i am going to delhi')

i am nidhi agrawal, i am going to delhi

In [10]:
# string formating>> creating string with placeholder for variables
print("my name is sita")
print("my name is nidhi")
print("my name is krish")
print("my name is riya")

my name is sita
my name is nidhi
my name is krish
my name is riya

In [15]:
name= "nidhi"
greetings=f"hi i am{name} agrawal and who are you?
greetings # here kindly use print if you do not use print statement then it will shoe=w an error

Object `you` not found.

NameError: name 'greetings' is not defined

In [27]:
name= "nidhi"
a1 = f"hi i am {name} agrawal and who are you?"
print(a1)

hi i am nidhi agrawal and who are you?

In [28]:
name= "nidhi"
greetings = f"hello {name} , how are you?"
print(greetings)

hello nidhi , how are you?

In [36]:
name="pwskills"
greetings= "hello %s , wish you a wonderfull day" %name
greetings

'hello pwskills , wish you a wonderfull day'

In [40]:
#.format
template= "hello, {} welcome to {}"
message= template.format("ajay", "data analytic")
print(message)

hello, ajay welcome to data analytic

In [41]:
# fstring(formate string literals)
course="pw data + frontend"
duration= 4
f" my course {course} and its duration is {duration} years"

' my course pw data + frontend and its duration is 4 years'

In [43]:
user_name="nidhi"
post_date="2024-06-03"
print(f"hello user {user_name},today is {post_date} post.")

hello user nidhi,today is 2024-06-03 post.

In [47]:
celsius = 30
f"{celsius} is equal to {(celsius*9/5)+32}F"

'30 is equal to 86.0F'

In [49]:
name= "nidhi"
name.startswith ("nid")

True

In [50]:
name.startswith ("aws")

False

In [51]:
name.endswith ("hi")

True

In [52]:
name.endswith ("nid")

False

In [53]:
a="123abc"
a.isalnum()

True

In [54]:
a="abc"
a.isalnum()

True

In [55]:
a=abc          #so you must be enclose in double code ""
a.isalnum()

NameError: name 'abc' is not defined

In [56]:
a=123abc
a.isalnum()

SyntaxError: invalid decimal literal (2980499041.py, line 1)

In [57]:
a="1234"
a.isalnum()

True

In [61]:
a="123abc"
count=0
for i in a :
    print(i)
    count+=1
print(count)

1
2
3
a
b
c
6

In [62]:
count

6